.card-container{
    width: 100%;
    height: min-content;
    color: #005288;
    padding: .8rem 0;
    padding-left: .8rem;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: .5rem;
    display:flex;
    align-items:center;
    cursor: default;
    position: relative;
    transition: all 300ms ease-in-out;
}

.card-container:hover{
    background-color: rgb(238, 238, 238);
}

.name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left:1rem
}

.file-card{
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}

.file-name{
    flex: 0.7;
    text-align: left;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-right: 1rem;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
    transition: all 300ms ease-in-out;

}

.file-size{
    flex:0.15;
    text-align: left;
    margin: 0;
    transition: all 300ms ease-in-out;

}

.file-size p{
    margin: 0;
}

.file-type{
    flex:0.15;
    text-align: left;
    margin: 0;
    transition: all 300ms ease-in-out;

    
}

.file-type p{
    margin: 0;
}

.card-container.dark-theme{
    background: #121212;
}

.card-container.dark-theme:hover{
    background: #202020;
}

.card-container.dark-theme .file-name,
.card-container.dark-theme .file-size,
.card-container.dark-theme .file-type
{
    color: #fff;
}

.lottie{
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}

@media(max-width:1000px){
    .name{
        margin-left: .5rem;
    }

    .file-size{
        font-size: .8rem;
        overflow: hidden;
        white-space: nowrap;
    }

    .file-type{
        font-size: .8rem;
        margin-left: .5rem;
        text-align: right;
    }

    .file-name{
        font-size: .8rem;
    }

    .card-container{
        padding-left: 0;
    }
}